body {
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  background: transparent linear-gradient(180deg, #1d1dff 0%, #000080 100%) 0% 0% no-repeat padding-box;
}

h1,
h2 {
  font-family: "Coiny", cursive;
}

a {
  color: white;
}

h2 {
  margin: 30px 0;
}

div {
  margin: 5px;
}

.resume__nav {
  display: flex;
  justify-content: flex-end;
}

.resume__title {
  color: #db2f87;
}

.resume__nav-item {
  margin-top: 20px;
  padding-right: 20px;
}

.pachi {
  color: #db2f87;
}

.container {
  width: 60%;
  background-color: white;
  padding: 40px;
  margin: 10px auto;
  color: #000080;
  box-shadow: 3px 3px 3px #000;
}

.resume__top {
  text-align: center;
  line-height: 40px;
}

.resume__name {
  font-size: 62px;
  text-shadow: 3px 3px 5px #000;
}

.resume__about {
  margin: auto;
  font-weight: bold;
  width: 70%;
  background-color: #00ffc2;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #db2f87;
}

.me {
  display: flex;
  margin: 50px 10px;
}

.job__experience {
  font-weight: bold;
  color: #db2f87;
}

.job__place {
  font-style: italic;
  font-weight: bold;
}

.skill__ball {
  text-align: center;
  line-height: 100px;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  color: white;
  background: transparent linear-gradient(85deg, #ff7a00 0%, #db2f87 17%, #0700ff72 58%, #00ffc2 100%) 0% 0% no-repeat padding-box;
}

.lesser {
  text-align: center;
  line-height: 60px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  right: 100px;
  color: white;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  opacity: .8;
}

.resume__skills {
  margin: 50px;
  position: relative;
  height: 300px;
}

.a,
.b,
.c,
.d,
.e {
  position: absolute;
}

.a,
.b {
  height: 80px;
  width: 80px;
  line-height: 70px;
}

.b {
  top: 185px;
  left: 40px;
}

.c {
  top: 141px;
  left: 115px;
  opacity: .8;
  font-weight: bold;
  color: var(--main-blue);
  background: radial-gradient(circle, #db2f87 0%, #0700ff72 100%);
}

.d {
  top: 260px;
  left: 160px;
}

.e {
  top: 90px;
  left: 210px;
}